---
apiVersion: template.openshift.io/v1
kind: Template
metadata:
  name: deployment-validation-operator-network-policy-${NAMESPACE}
objects:
- apiVersion: networking.k8s.io/v1
  kind: NetworkPolicy
  metadata:
    name: allow-from-${NAMESPACE}
  spec:
    podSelector: {}
    ingress:
      - from:
        - namespaceSelector:
            matchLabels:
              name: ${NAMESPACE}
  policyTypes:
    - Ingress
parameters:
- name: NAMESPACE
  value: ""
  displayName: a namespace with access to DVO data
  description: the namespace that should be allowed to access DVO data
  required: true
