---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: deployment-validation-operator
rules:
- apiGroups:
  - "*"
  resources:
  - "*"
  verbs:
  - get
  - create
  - list
  - delete
  - update
  - watch
  - patch
